.inline{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 10px 20px;
}
.answerdiv{
	width: 80%;
	margin: 10px auto;
	border: 1px solid lightblue;
	text-align: left;
}
.likediv{
	float: right;
}
.answer{
	width: 60%;
}