<a [routerLink]="['/dashboard']">Home</a> | 
<a [routerLink]="['/']">Logout</a>

<form (submit)="OnSubmit()">
	<p>Question: <input type="text" name="title" [(ngModel)]="question.title" required minlength="10" #quest="ngModel"></p>
	<ul *ngIf="quest.invalid && (quest.dirty||quest.touched)">
		<li *ngIf="quest.errors.required">Question is empty.</li>
		<li *ngIf="quest.errors.minlength">Question is too short.</li>
	</ul>
	<p>Description(optional):</p>
	<textarea name="content" [(ngModel)]="question.description"></textarea>
	<button (click)="cancel()">Cancel</button>
	<button type="submit" [disabled]="quest.invalid">Submit</button>
</form>
